<h1>Info#about</h1>
<p><%= dfp_helper_slot '/1010898/sglinks_160x600' %></p>
<p><%= dfp_helper_slot '/1010898/sglinks_300x250' %></p>
<p><%= dfp_helper_slot '/11800773/moneymoney_160x600' %></p>
<p><%= dfp_helper_slot '/11800773/moneymoney', {:size => [728,90]} %></p>

